page-home {
 #functionPanel{ 
 padding-left:0!important; 
 padding-right:0!important; 
}
.classification{width:100%; height:auto; }
.classification div{ width:95%; margin:auto;}
.classification .cbox{ width:50%; padding-top:10px; float:left;}
.classification .icon{ width:128px; height:128px;  margin:auto; }
.classification .icon img{width: 120px; height: 120px;}
.classification p{ font-size:14px; text-align:center; line-height:15px; color: #404040;}

}
