page-home {
 #functionPanel{ 
 padding-left:0!important; 
 padding-right:0!important; 
}
.classification{width:100%; height:auto; }
.classification div{ width:95%; margin:auto;}
.classification .cbox{ width:50%; padding-top:10px; float:left;}
.classification .icon{ width:90px; height:90px;  margin:auto; }
.classification .icon img{width: 90px; height: 90px;}
.classification p{ font-size:14px; text-align:center; line-height:15px; color: #404040;}

.slide-image {
    max-height: 35%;
    max-width: 100%;
    margin: 10px 0;
  }

}
